.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.logo {
    font-weight: 300;
    font-size: 25px;
}

.lastName {
    color: #26ffbf;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: #26ffbf;
}

.menu {
    display: none;
    cursor: pointer;
}

.activeLink {
    color: #26ffbf;
}


@media(max-width:1080px) {
    .logo {
        font-size: 20px;
    }
}

@media(max-width:733px) {
    .logo {
        font-size: 18px;
    }

    .menu {
        display: block;
        font-size: 19px;
        z-index: 1000;
        /* position: fixed; */
        right: 20px;
        top: 38px;
    }

    .menuActive {
        position: fixed;
    }

    .links {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .mobile_menu_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: 0;
        background: linear-gradient(180deg, rgba(21, 37, 45, 1) 0%, rgba(18, 23, 29, 1) 100%);
        width: 100%;
        z-index: 99;
        bottom: 0;
        height: 100vh;
    }

    body>.mobile_menu_links {
        overflow: hidden;
    }

    /* .navbar {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        justify-content: center;
        z-index: 99;
        position: absolute;
        top: 0;
        right: 0;
        padding: 40px 5px;
        transition: all 0.5s linear;
        gap: 20px;
    } */

    /* .mobile_menu_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85vw;
        height: max-content;
        gap: 20px;
        margin-top: 10px;
        background-color: #131f26;
        padding: 40px 0;
        box-shadow: 8px 15px 16px -11px #26ffbf;
    } */

    .link {
        padding: 10px;
    }
}

@media(max-width:400px) {
    .logo {
        font-size: 16px;
    }
}